<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon" type="image/png" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/css/css.css" />
{% block title %}<title>张庆利律师为您服务</title>{% endblock %}
{% block script %}{% endblock %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20025612-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body style='background-image:url(/img/back.jpg)'><center>
	<div style='width:996px;background-image:url(/img/index_04.jpg);'>
	<div style='background-image:url(/img/index_01.jpg);width:996px;height:186px;'>
		<div style="margin-right:700px;padding-top:70px;"><a href='/' title='张庆利的网站'><b style='font-size:30px;font-family:隶书;color:#ffffff;'>张庆利的网站</b></a></div>
	</div>
	<div style='width:996px;height:auto;'>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" style='background-image:url(/img/index_02.jpg);background-repeat:no-repeat;'>
    <tr>
    	<td width='50px'>
		 	</td>
        <td width="234px" valign="top" height='100%' >
 		<table width="100%"  border="0" cellspacing="0" cellpadding="0" style="text-align:left;">
		 {% block left %}
		 <tr>
		 	<td style='padding-left:60px;background-image:url(/img/index1_04.jpg);background-repeat:no-repeat;height:45px;'>
		 		<b>网站公告</b>
		 	</td>
		 </tr>
		 <tr>
		 	<td style='padding-left:15px;'>
		 		<a href="">1.星空神秘，犹如爱之深邃</a>
		 	</td>
		 </tr>
		 <tr>
		 	<td style='padding-left:15px;'>
		 		<a href="">2.星空神秘，犹如爱之深邃</a>
		 	</td>
		 </tr>
		 <tr>
		 	<td style='padding-left:15px;'>
		 		<a href="">3.星空神秘，犹如爱之深邃</a>
		 	</td>
		 </tr>
		 <tr>
		 	<td style='padding-left:15px;'>
		 		<a href="">4.星空神秘，犹如爱之深邃</a>
		 	</td>
		 </tr>
		
		 {% endblock %}
	 	</table>
        </td>
		<td width="20px" ></td>
        <td valign='top'>
			<table width="100%"  border="0" cellspacing="0" cellpadding="0">
		   			 <tr>
		   			 	<td height='25px' align='left'>
		   			 		<b>{% block menu %}| <a href=''>我的日志</a> | <a href=''>案例分析</a> | <a href=''>重要新闻</a> | <a href=''>心里路程</a>{% endblock %}</b> 
		   			 	</td>
		   			 </tr>
					 <tr>
		   			 	<td height='5px'>
		   			 	</td>
		   			 </tr>
		   			 <tr>
		   			 	<td  style="background-image:url(/img/index1.gif);background-repeat:repeat-y;" valign='top' align='left'>
		   			 		
		   			 		<table width="590" border="0" cellspacing="0" cellpadding="0" style='margin-left:20px;'>
							    {% block paper %}
								<tr>
							        <td align="left" style='padding-left:20px;'>
							        	<b>浓浓的全是爱</b>
							        </td>
							    </tr>
							    <tr>
							        <td align="left" >
							        	我就是这荷叶，你就是我身体里的荷花~~
							这个就是我给你做的网站了！感觉怎么样？
							        </td>
							    </tr>
								<tr >
									<td height='1px'>
									</td>
								</tr>
							    <tr>
							        <td align="right" >
							        	<div style="float:left;margin-left:30px;">目前有<font class='redfont'>5201314</font>人看了这篇文章，有<font class='redfont'>520</font>人发表了自己的观点!</div><a href='' >查看全文</a>
							        </td>
							    </tr>
								<tr height='5px;'>
									<td>
									</td>
								</tr>
							    
								{% endblock %}
							</table>

							
		   			 	</td>
		   			 </tr>
			</table>
        </td>
    </tr>
	 <tr height='164px'>
   			 	<td colspan='2' style="height:164px;background-image:url(/img/back.jpg);background-repeat:repeat;" valign="top" align="center">
   			 		<img src="/img/index1_06.jpg" alt="" border="0">
   			 	</td>
				<td width="20px" ></td>
   			 	<td  style="background-image:url(/img/index1.gif);background-repeat:repeat-y;text-align:left;" valign='top' >
   			 		<table width="590" border="0" cellspacing="0" cellpadding="0" style='margin-left:20px;'>
					    <tr>
					        <td align='left'height='20px'>
					        	<b>我的风采</b>
					        </td>
					    </tr>
					    <tr>
					        <td  height='180px'>
					        	<marquee behavior="scroll" DIRECTION=left scrollamount="3"  width='580' height='170' id="picshow" onMouseOut="this.start()" onMouseOver="this.stop()"   ></marquee>
					        </td>
					    </tr>
					    
					</table>
                        <div id="pjs" >
                            <div id="jjjj"></div>
                        </div>

                    <script  type="text/javascript">
                        var gab = document.createElement('script'); gab.type = 'text/javascript'; gab.async = true;
                        gab.src="/picshowlist?d="+new Date().toString();
                        var jj=document.getElementById('jjjj')
                        document.getElementById("pjs").insertBefore(gab,jj);
                    </script>
   			 	</td>
   			 </tr>
</table>
</div>
	
	<div style='background-image:url(/img/index_06.jpg);width:996px;height:186px;'>
		<div style='padding-top:170px;'>技术支持:鲤鱼科技  <a href='/Admin'>管理网站</a></div>
	</div>
</div>

</center>

</body>

</html>