<style type="text/css">

    .reply{
        width:100%;text-align:right;float:right;
    }
    .replytool{
        margin-right:5px;
        margin-left:5px;

    }
</style>
<script type="text/javascript">
function replay(id){
     var text=document.getElementById(id+'txt');
var replay=document.getElementById("commentid");
var replaytext=document.getElementById("replaytext");
var replaybutton=document.getElementById("replaybutton");
    if(id!=''){

    replaytext.innerHTML=text.innerHTML;
    replay.value=id;
    document.getElementById("isreplay").style.display="block";
        replaybutton.style.display="inline";
    }else{
        document.getElementById("isreplay").style.display="none";
        replay.value="";
        replaybutton.style.display="none";
    }


}
</script>

<script type="text/javascript">
    function getReplay()
    {
        var commentlistdata;
        $.ajax({type: "POST",
            url: "/blog/commentList",
            data:{titleid:"{{ title.id }}",paperid:document.getElementById('paperid').value},
            dataType:'json',
            async: true,
            success: function(data){
                var datamap=new Object();
                var dataarr=new Array();
                var dataobj;
                var dataobj2;
                for(var i=0;i<data.length;i++){
                    dataobj=data[i];
                    if(dataobj['fatherid']){
                        if(!datamap[dataobj['fatherid']]['children']){
                            datamap[dataobj['fatherid']]['children']=new Array();
                        }
                        datamap[dataobj['fatherid']]['children'].push(dataobj);
                    }else{
                        dataarr.push(dataobj);
                    }
                    datamap[dataobj['id']]=dataobj;
                }
               var commenthtml0='<div class="commentlist"><table  border="0" cellpadding="0" cellspacing="0" ><tr class="top"><td rowspan="4" width="60px" valign="bottom"><img src="/static/img/default/face/face';
               var commenthtml1='.gif"  /></td><td class="tl"></td><td  class="t"></td><td class="tr"></td></tr><tr><td class="l"></td><td class="c">';
               var commenthtml2='</td><td class="r"></td></tr><tr class="bottom"><td class="bl"></td><td class="b"></td><td class="br"></td></tr><tr><td colspan="2" height="25"></td></tr></table>';
               var commenthtml3='</div>';

               var replayhtml0='<div class="replaylist"><table  border="0" cellpadding="0" cellspacing="0" align="right"><tr class="top"><td class="rtl"></td><td  class="rt"></td><td class="rtr"></td><td rowspan="4" width="60px" valign="bottom"><img src="/static/img/default/face/face';
               var replayhtml1= '.gif"  /></tr><tr><td class="rl"></td><td class="rc">';
               var replayhtml2='</td><td class="rr"></td></tr><tr class="bottom"><td class="rbl"></td><td class="rb"></td><td class="rbr"></td></tr></table></div>';
                for(var j=0;j<dataarr.length;j++){
                   dataobj=dataarr[j];
                    var replayhtml=commenthtml0+dataobj['face']+commenthtml1+'<span id="'+dataobj['id']+'txt">'+dataobj['guest']+':<br/>'+dataobj['createDate']+'<br/>'+dataobj['content']+'</span>'+'<div class="reply"><a href="#replay" class="replytool" onclick="replay(\''+dataobj['id']+'\')">回复</a>'+commenthtml2;
                    if(dataobj['children']){
                        for(var k=0;k<dataobj['children'].length;k++){
                            dataobj2=dataobj['children'][k];
                            replayhtml+=replayhtml0+dataobj2['face'];
                            replayhtml+=replayhtml1+'<span id="'+dataobj2['id']+'txt">'+dataobj2['guest']+':<br/>'+dataobj2['createDate']+'<br/>'+dataobj2['content']+'</span>';
                            replayhtml+=replayhtml2;
                        }
                    }
                    replayhtml+=commenthtml3;
                    $('#commentlistdiv').append(replayhtml);
               }
            }
        });
    };
</script>
<div style="height: 25px;width: 50px;float: right;"><a href="#replay" style="font-size: 18px;">评论</a></div>
<div id="commentlistdiv">

</div>
{% for com in commentlist %}
        <div class="commentlist">
            <table  border="0" cellpadding="0" cellspacing="0" >
                <tr class="top">
                    <td class="tl"  >

                    </td>
                    <td  class="t">

                    </td>
                    <td class="tr">

                    </td>
                </tr>
                <tr>
                    <td class="l">

                    </td>
                    <td class="c">
                        <span id="{{com.key.id}}txt">{{com.name|escape }}<br/>{{com.createTime|date:"Y年m月d日 H时i分"}}<br/>{{com.content|escape }}</span>
                        <div class="reply"><a href="#replay" class="replytool" onclick="replay('{{com.key.id}}')">回复</a>{%if isauth%}|&nbsp;<a href="/commentDel?commendid={{com.key.id}}">删除该评论</a>{%endif%}</div>
                    </td>
                    <td class="r">

                    </td>
                </tr>

                <tr class="bottom">
                    <td class="bl">

                    </td>
                    <td class="b">

                    </td>
                    <td class="br">

                    </td>
                </tr>

            </table>
            
            {% for r in com.replay%}
            <div class="replaylist">
            <table  border="0" cellpadding="0" cellspacing="0" align="right">
                <tr class="top">
                    <td class="rtl">

                    </td>
                    <td  class="rt">

                    </td>
                    <td class="rtr">

                    </td>
                </tr>
                <tr>
                    <td class="rl">

                    </td>
                    <td class="rc">
                      {{r|escape }}
                        {%if isauth%}<div class="reply"><a href="/commentDel?commendid={{com.key.id}}&index={{forloop.counter0}}">删除该回复</a></div>{%endif%}
                    </td>
                    <td class="rr">

                    </td>
                </tr>

                <tr class="bottom">
                    <td class="rbl">

                    </td>
                    <td class="rb">

                    </td>
                    <td class="rbr">

                    </td>
                </tr>
            </table></div>
            {%endfor%}
        </div>
{%endfor%}