<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{{webinfo.webname}}系统登录</title>
		<style>
			*{
				margin:0px;
				padding:0px;
				font-size:12px;
					
			}
		</style>
	</head>
	<body style="background-color:#ececec" ><center style="vertical-align:middle;">
		<table width="512px" height="100%">
			<tr>
				<td valign="middle"><form action="/login" method="post">
					<table width="512px" height="325px" style="background-image:url('/static/img/login.jpg')">
						<tr height="50px;">
							<td>&nbsp;</td>
						</tr>
                        <tr>
							<td  style="padding-top:20px;"><b><span style="font-size:30px;font-family:隶书;margin-left:30px;">{{webinfo.webname}}</span></b>
							</td>
						</tr>
						<tr height="50px;">
							<td></td>
						</tr>
						<tr  height="20px;" >
							<td style="padding-left:5px;">
								用户名：
							</td>
						</tr>
						<tr height="25px;">
							<td style="padding-left:5px;">
								<input type="text" name="username" value="" style="width:250px;">
							</td>
						</tr>
						<tr height="20px;">
							<td style="padding-left:5px;">
								密码：
							</td>
						</tr>
						<tr height="25px;">
							<td style="padding-left:5px;">

								<input type="password"  name="password" value=""  style="width:250px;">
							</td>
						</tr>
						<tr height="25px;">
							<td style="padding-left:5px;">
                                <input type="submit" value="登录" style="width:50px;">
								<input type="reset" value="清空" style="width:50px; margin-left:15px;">
                                <input type="hidden" name="fromurl" value="{{fromurl}}">
							</td>
						</tr>
						<tr height="25px;">
							<td align="center">
								技术支持:鲤鱼小组
							</td>
						</tr>
					</table></form>
				</td>
			</tr>
		</table>
	</center>
	</body>
</html>
