{% extends "default/base.html" %}
{% block left %}
{% include 'default/include/left.html' %}
{% endblock %}
{% block menu %}
{% include 'default/include/menu.html' %}
{% endblock %}
{% block paper %}
<tr>
	<td colspan='3'>
		<a href='/'>首页</a> >> 相册列表
	</td>
</tr>

<tr>
	<td colspan="3" >
        {% for albumimg in albumlist %}
            <div style="width: 150px;height: 200px;float: left;padding: 10px;text-align: center;"><a href="/blog/album/{{ album.id }}/{{ albumimg.id }}.html"><img src="{{ albumimg.firstImage.imgsmal }}" alt="Image" border="0" style="max-width: 130px"  height="100"/></a><div style="width: 100%;text-align: center;"><a href="/blog/album/{{ album.id }}/{{ albumimg.id }}.html">{{ albumimg.title }}</a></div></div>
        {% endfor %}

	</td>
</tr>

<tr>
    <td align="right" colspan='3' >
        <a href='/blog/album/{{ album.id }}.html?offset=0'>第一页</a>&nbsp;&nbsp;&nbsp;
        {% for page in pagelist %}
            {% ifequal page.offset offset %}
                {{ page.page }}&nbsp;&nbsp;&nbsp;
            {% else %}
                <a href='/blog/album/{{ album.id }}.html?offset={{ page.offset }}'>{{ page.page }}</a>&nbsp;&nbsp;&nbsp;
            {% endifequal %}

        {% endfor %}
            <a href='/blog/album/{{ album.id }}.html?offset={{ lastpage }}'>最后一页</a>&nbsp;&nbsp;&nbsp;
    </td>
</tr>
{% endblock %}